body, html, #root, .main-container, .home-container {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 40px;
    font-size: 13px;
    color: gray;
}

.home-container {
    display: flex;
}

.top-header {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
}

.big-main-col {
    width: 95%;
    height: 100%;
    background: #edf0f5;
}

.big-right-col {
    background: #31383E;
    height: 100%;
    max-width: 250px;
    min-width: 250px;
    color: white;
    width: 17%;
}

.app-name-menu {
    background: #22272A;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 20px 0;
}

.user-profile-pic {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 20px 0 0 73px;
    background: url('../../images/raul.jpg') no-repeat 50%;
    background-size: contain;
}

.text-center {
    text-align: center;
}

ul {
    list-style-type: none;
}

.right-menu {
    -webkit-padding-start: 0;
    margin-top: 60px;
}

.right-menu li {
    padding: 20px 30px;
    cursor: pointer;
    border-left: 3px solid #31383E;
    transition: .2s ease-out;
}

.right-menu li:hover {
    border-left: 3px solid #bbbbbb;
    background: #198FD7;
}

.right-menu li a {
    font-size: 16px;
    color: #bbbbbb;
    display: flex;
}

.top-menu__container {
    display: flex;
    margin: 18px 30px;
    position: absolute;
    right: 0;
}

.top-menu__container a + a {
    margin-left: 25px;
}

.top-menu__item {
    width: 20px;
    height: 20px;
    background-size: contain;
    transition: all .3s ease;
}

.logout {
    background-image: url('../../images/logout.png');
}

.logout:hover {
    background-image: url('../../images/logout-hover.png');
}

.home {
    background-image: url('../../images/home.png');
}

.home:hover {
    background-image: url('../../images/home-hover.png');
}

.right-menu__add-icon {
    background: url('../../images/add.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.user-profile-name {
    text-align: center;
    -webkit-margin-after: 0;
}

.admin-account {
    text-align: center;
    font-size: 12px;
    color: #198FD7;
    -webkit-margin-before: 5px;
}

.top-header__title-container {
    padding: 5px 20px;
}

.top-header__title-container p {
    color: gray;
    text-transform: uppercase;
}

.form-row {
    display: flex;
    width: 100%;
}

.form-col-50 {
    width: 50%;
}

.form-col-50-right {
    width: 50%;
    margin-left: 15px;
}

.form-button-container {
    padding: 0 25%;
}

.button-spinner {
    position: absolute;
    right: 20px;
    bottom: 8px;
}